#map-col {
  padding-top: 50px;
  height: 350px;
}

.text-block {
  padding-top: 50px
}

#map-canvas {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: -20px;
}

.iceland-fonts {
  font-family: $icelandFont;
}