.highlight {
  content: "";
  background-color: #ffbf00;
  min-height: 200px;
}

.paragraph {
  width: 70%;
  border: 1px solid lightGray;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: honeydew;
}