@import url('https://fonts.googleapis.com/css?family=Cantarell|Rock+Salt|Roboto|Alegreya');

$backgroundColor: "honeydew";
$navbar-background: #233237;
$accentTextColor: #87CEFA;
$displayFont: "Rock Salt", serif;
$primaryFont: "Cantarell", sans-serif;
$borderColor: #444444;
$icelandFont: "Roboto", sans-serif;
$sedonaFontHeader: "Alegreya", serif;