@import url('https://fonts.googleapis.com/css?family=Lato|Rock+Salt');

$backgroundColor: "honeydew";
$navbar-background: #233237;
$accentTextColor: #87CEFA;
$displayFont: "Rock Salt";
$primaryFont: "Lato";
$borderColor: #444444;