@import "_variables";

//IMPORT COMPONENT FILES
@import "components/_buttons.scss";
@import "components/_images.scss";

// IMPORT LAYOUT FILES
@import "layout/_card";
@import "layout/_flexgrid";
@import "layout/_navigation";

// IMPORT PAGE FILES
@import "pages/_iceland";
@import "pages/_sedona";
@import "pages/_montsaintmichel";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

body {
  background-color: $backgroundColor;
  font-family: $primaryFont;
  margin: 0;
}

button {
  color: blue;
}

.container {
  max-width: 100%;
  margin: auto;
  padding-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

p {
  line-height: 1.2;
  font-size: 1em;
}

.text-block {
  text-align: left;
}

@media screen and (min-width: 600px) {
  .container {
    width: 80%;
    max-width: 1500px;
  }
}