@import url('https://fonts.googleapis.com/css?family=Alegreya|Cantarell|Libre+Franklin|Rock+Salt|Noto+Sans|Homemade+Apple|Special+Elite');

body {
  background-color: honeydew;
}

a.anchor {
    display: block;
    position: relative;
    top: -74px;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cantarell";
  text-transform: uppercase;
}

p {
  font-family: "Cantarell";
}

.navbar {
  background-color: #233237;
  border: none;
}

.navbar-brand {
  font-family: "Rock Salt";
}

.navbar li a, .navbar .navbar-brand {
  color: #87CEFA !important;
}

.content {
  padding-top: 55px;
}

.main-text {
  padding: 50px;
}

.img-padded {
  padding: 40px;
}

.icon {
  height: 40px;
  width: auto;
  margin: 0px 5px 0px 5px;
}

.row {
  margin: 0;
}

.row-border {
  border-bottom: solid 3px rgba(135, 206, 250, .8);
}

.row-gradient {
  background: linear-gradient(90deg, honeydew, #d8e5d8, honeydew);
}

.col-6 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main {
  content: "";
  position: relative;
}

.img-text {
  position: absolute;
  top: 70%;
  left: 55%;
  background-color: rgba(135, 206, 250, .6);
  font-family: "Homemade Apple";
  color: #233237;
  padding: 5px 20px 10px 20px;
  font-size: 150%;

  -ms-transform: rotate(340deg); /* IE 9 */
  -webkit-transform: rotate(340deg); /* Safari */
  transform: rotate(340deg); /* Standard syntax */
}

.wrapper {
  padding-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  max-width: 1000px;
}

.container {
  margin: 0;
}

#hero {
  max-height: 90vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#hero-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  color: black;
}

.header h1 {
  font-family: "Alegreya", serif;

}

.paragraph {
  margin: 10%;
  background-color: white;
  padding: 10px;
}

#fade {
  display: none;
}

.highlight {
  content: "";
  background-color: #ffbf00;
  min-height: 200px;
}

.img-shadow-right {
  position: relative;
  margin: auto;
  width: 70%;
  box-shadow: 20px 20px 30px #cccccc;
  margin-bottom: 50px;
}

.img-shadow-left {
  position: relative;
  margin: auto;
  width: 70%;
  box-shadow: 0 0 20px 30px #cccccc;
  margin-bottom: 50px;
}

.img-highlight-left {
  content: "";
  height: 80%;
  width: 25%;
  position: absolute;
  top: 10%;
  left: -5%;
  z-index: -1;
  background-color: #ffbf00;
}

.img-highlight-right {
  content: "";
  height: 80%;
  width: 25%;
  position: absolute;
  top: 10%;
  left: 85%;
  z-index: -1;
  background-color: #ffbf00;
}

