.img-flex {
  max-width: 100%;
  height: auto;
}

.img-flex-height {
  max-height: 100%;
}

#img-portrait {
  border-radius: 50%;
}

.img-wrapper-500 {
  max-height: 500px;
}

.img-wrapper-750 {
  max-height: 750px;
  width: auto;
}