.card {
  width: 100%;
  position: relative;
  border: 1px solid lightGray;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
  position: relative;
  margin: 30px 10px 0px 10px;
}

.card-horizontal {
  display: flex;
  flex-direction: column;
}

.img-card-horizontal {
  width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .card {
    width: 45%;
  }
  .card-horizontal {
    width: 100%;
    flex-direction: row;
  }
  .card-ltr {
    flex-direction: row-reverse;
  }
  .img-card-horizontal {
    width: 50%;
    height: 100vh;
    padding: 15px;
    padding-bottom: 120px;
  }
  .card-70 {
    max-width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: 30%;
  }
  .card-horizontal {
    width: 100%;
    flex-direction: row;
  }
  .card-ltr {
    flex-direction: row-reverse;
  }
  .img-card-horizontal {
    width: 50%;
    height: 100vh;
    padding: 15px;
    padding-bottom: 140px;
  }
  .card-70 {
    max-width: 70%;
  }
}

.card:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.card h1 {
  margin: 0;
}

.card p {
  margin: 0 0 20px;
}

.card-subtitle {
  margin: 0 0 15px;
  font-weight: 700;
  color: $accentTextColor;
}

.card-content {
  padding: 30px 30px 110px;
}

.card-details {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.card-details-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $borderColor;
  margin: 0 30px;
  padding: 30px 0;
}