.flex-grid {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1em;
}

.row-ltr {
  flex-direction: row;
}

.row-rtl {
  flex-direction: row;
}

.column {
  align-items: center;
  text-align: center;
  padding: 30px;
}

.column-full, .column-half, .column-third, .column-fourth {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .row-rtl {
    flex-direction: row-reverse;
  }
  .column-half {
    width: 50%;
  }
  .column-third {
    width: 33%;
  }
  .column-fourth {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .row-rtl {
    flex-direction: row-reverse;
  }
  .column-half {
    width: 50%;
  }
  .column-third {
    width: 33%;
  }
  .column-fourth {
    width: 25%;
  }
}